<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Bus Seat Booking</title>
		<link rel="stylesheet" th:href="@{/css/styleBusSeatsList.css}">
	</head>

	<body>
		<!-- Bus Details -->
		<div class="bus-details">
			
		</div>

		<!-- Seat Map -->
		<h3>Select Your Seats</h3>
		<div class="seat-map" id="seatMap"></div>
		
		<!-- Legend -->
		<div class="legend">
			<span style="background:green;"></span> Available
			<span style="background:blue; margin-left:15px;"></span> Selected
			<span style="background:purple; margin-left:15px;"></span> Booked
		</div>
		
		<!-- Booking Summary -->
		<div class="summary">
			<h4>Booking Summary</h4>
			<p id="selectedSeats">Selected Seats: None</p>
			<p id="totalPrice">Total Price: ₹0</p>
			<button class="pay-btn">Proceed to Payment</button>
		</div>
		
		<script>
			const currentBus = "[[${currentBus}]]".replaceAll("&quot;", '"');
			const departureCity = "[[${departureCity}]]";
			const arrivalCity = "[[${arrivalCity}]]";
		</script>
		<script th:src="@{/js/lib/jquery-3.7.1.js}"></script>
		<script th:src="@{/js/src/scriptSeatSelectionPage.js}"></script>
	</body>
</html>